body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 12pt "Tahoma";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 0.05cm;
  border: 5px red solid;
  height: 257mm;
  outline: 2cm #FFEAEA solid;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 11px;
}

h2 {
  padding: 0px;
  margin: 0px;
}

.subpage > div {
  border: solid 1px black;
  margin: 2px 0px 2px 0px;
  min-height: 40px;
}

.data-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2px 0px 2px 2px;
}

  .data-box > div {
    min-height: 40px;
    width: 100%;
    border: solid 1px black;
    margin: 0px 2px 0px 0px;
  }

.zgoda-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 152px;
}

  .zgoda-container {
    min-height: 40px;
    min-width: 200px;
    padding: 2px 2px 0px 2px;
  }

  .zgoda-container > div {
    min-height: 35px;
    width: 100%;
    border: solid 1px black;
    margin: 0px 0px 2px 0px;
  }

.trasa-box {
  display: flex;
  flex-direction: row;
  padding: 2px 2px 2px 2px;
}

  .trasa {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    border-top: solid 1px black;
    border-right: solid 1px black;
  }

    .trasa > div {
      height: 35px;
      min-width: 35px;
      border-bottom: solid 1px black;
      border-left: solid 1px black;
    }

  .DataColumn {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    flex: 1;
  }

    .DataColumn > div {
      min-height: 35px;
      min-width: 40px;
      border-top: solid 1px black;
    }

.zapas-box {
  display: flex;
  flex-direction: row;
  padding: 2px 2px 2px 2px;
}

  .zapas-box > div {
    min-height: 40px;
    min-width: 40px;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    flex: 1;
  }

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
      width: 210mm;
      height: 297mm;        
  }
  .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
}