@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
}

body {
  font-family: Inter;
  margin: 0;
  height: 100%;
  background-image: url("./assets/clouds.jpg");
  background-size:100%
}